# /etc/systemd/system/docker-mosquito.service

[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=~/mosquito-monitoring
ExecStart=/usr/local/bin/docker-compose -f docker-compose-ssl.yml up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
