<!DOCTYPE html>

<html lang="en">

    {% include 'components/head_template.html' %}

    <body>

        {% include 'components/menu.html' %}

        <div class="container main">

            {% include 'components/header.html' %}

{#          FORMULAIRE #}
            <form action="/postform" method="post" enctype="multipart/form-data">

{#              MOSQUITO UPLOAD #}
                <legend>Upload your mosquito</legend>
                <input id="file" type="file" name="fileToUpload" class="input-file" required/>

{#              MOSQUITO LOCATE #}

                <legend>Locate your mosquito</legend>
                <label id="ask_location" for="location">Help us locate this nasty mosquito by sharing your location</label>
                <button type="button" id="location" onclick="getLocation()">Share your location</button>
                <label>Or enter manually your coordinates</label>
                <div id="manual-coordinates">
                    <br/> <p id="legend-latitude">Latitude</p> <span id="input-latitude"><input id="latitude" name="latitude" value=""/></span>
                    <br/> <p id="legend-longitude">Longitude</p> <span id="input-longitude"><input id="longitude" name="longitude" value=""/></span>
                </div>
                <small id="locationHelp" class="form-text text-muted">We'll never share your location with anyone else. Your location will be REALLY useful to monitor mosquitoes propagation</small>
                <p id="map_location"></p>

                <script>
                    var map = document.getElementById("map_location");
                    var ask_map = document.getElementById("ask_location");

                    function getLocation() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                            {#navigator.geolocation.watchPosition(showPosition);#}
                        } else {
                            map.innerHTML = "Geolocation is not supported by this browser.";}
                        }

                    function showPosition(position) {
                        ask_map.innerHTML="<p>Thanks for sharing your location !</p>";
                        map.innerHTML="<br><iframe id='gmap_canvas' src='https://maps.google.com/maps?q=" + position.coords.latitude + "%2C%20" + position.coords.longitude + "&t=&z=9&output=embed' frameborder='0' marginheight='0' marginwidth='0'></iframe>";
                        document.getElementById("latitude").value = position.coords.latitude;
                        document.getElementById("longitude").value = position.coords.longitude;
                    }
                </script>

{#              USER BASIC INFORMATIONS #}

                <legend>Accompany your mosquito</legend>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>


{#              COMMMENT #}

                <div class="form-group">
                    <label for="exampleTextarea">Comment</label>
                    <textarea class="form-control" name="comment" id="exampleTextarea" rows="3" maxlength="500"></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </body>
</html>