<!DOCTYPE html>
<html>
    {% include 'components/head_template.html' %}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <body>



        <div id="map" class="row"></div>

        <script>
          function initMap() {
            var coords = [{lat: -25.363, lng: 131.044}, {lat: -25.363, lng: 130.044}];

            var averageLat = 0;
            var averageLng = 0;

            coords.forEach(function (coord) {
                averageLat += coord.lat;
                averageLng += coord.lng;
            });
            averageLat /= coords.length;
            averageLng /= coords.length;




            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: {lat: averageLat, lng: averageLng}
            });

            coords.forEach(function (coord) {
                var marker = new google.maps.Marker({
                    position: coord,
                    map: map,
                    label: 'species 1',
                    title: "user1"
                });
            });


          }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC22X19gu0Om3YhYaI3GjYU2aM4BrKOW0M&callback=initMap">
        </script>
    </div>

  </body>
</html>