<!DOCTYPE html>
<html>
    {% include 'components/head_template.html' %}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }

      {#}#}
    </style>
    <body>

        {% include 'components/menu.html' %}

        <div class="container main">

            <h1>THE MOSQUITO MONITORING PROJECT</h1>
            <h3 class="subtitle">Map of all the detected mosquitos by the app.</h3>
            <p>You find here all contributions to the project</p>




            <div id="map" style="width:100%;height:400px;"></div>
            <div id="legend"><h3>Legend</h3></div>



            <script>

                {#const dots = ["blue", "yellow", "red", "green", "purple"];#}

                var iconBase = "http://maps.google.com/mapfiles/ms/icons/";
                var icons = {
                  aedes: {
                    name: 'aedes',
                    icon: iconBase + 'blue-dot.png'
                  },
                  culex: {
                    name: 'culex',
                    icon: iconBase + 'red-dot.png'
                  },
                  anopheles: {
                    name: 'anopheles',
                    icon: iconBase + 'yellow-dot.png'
                  }
                };

                let coordinates = {{ mosquitos | safe }};

                console.log("prefeiltered coordinates", coordinates);


                coordinates = coordinates.filter(elt => typeof elt.lat === "number" && typeof elt.lng === "number" && typeof elt.mosquito_species === "string");

                console.log("filtered coordinates", coordinates);



                let averageLat = 0;
                let averageLng = 0;

                coordinates.forEach((coord) => {
                    averageLat += coord.lat;
                    averageLng += coord.lng;
                });

                averageLat /= coordinates.length;
                averageLng /= coordinates.length;



                function initMap() {


                    const map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: {lat: averageLat, lng: averageLng}
                    });

                    coordinates.forEach((coord) => {
                        const marker = new google.maps.Marker({
                            position: coord,
                            map: map,
                            label: coord.user_name,
                            {#title: coord.user_name,#}
                            icon: icons[coord.mosquito_species].icon
                        });
                    });





                    var legend = document.getElementById('legend');
                    for (var key in icons) {
                      var type = icons[key];
                      var name = type.name;
                      var icon = type.icon;
                      var div = document.createElement('div');
                      div.innerHTML = '<img src="' + icon + '"> ' + name;
                      legend.appendChild(div);
                    }

                    map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

              }
            </script>

            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC22X19gu0Om3YhYaI3GjYU2aM4BrKOW0M&callback=initMap">
            </script>

        </div>

    </body>
</html>