<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mosquito Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
{% include 'menu.html' %}
    <div class="container">
        {% include 'header.html' %}

        <div id="fail_prediction">
            <h2>API quota exceeded, please slow down</h2>
        </div>
    </div>
</body>
</html>