body {
	margin-left: auto;
	margin-right: auto;
	font-family: "Open Sans", "Calibri", "Arial", sans-serif;
	background-color: #ECF0F1;
}

.container {
    width: 90%;
}

h1 {
	text-align: center;
	font-weight: bold;
	margin-top: 60px;
    margin-bottom: 40px;
}

/*.subtitle {*/
    /*font-size: x-large;*/
/*}*/

.main {
    margin-top: 30px;
}

/* Add a black background color to the top navigation */
/*.menu {*/
    /*!*background-color: #333;*!*/
    /*overflow: hidden;*/
    /*position: fixed; !* Set the navbar to fixed position *!*/
    /*top: 0; !* Position the navbar at the top of the page *!*/
    /*width: 100%; !* Full width *!*/
/*}*/

.menu a {
    /*float: left;*/
    /*display: block;*/
    /*color: #f2f2f2;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
    font-size: 17px;
}

/*.menu a:hover {*/
    /*background-color: #ddd;*/
    /*color: black;*/
/*}*/


.menu #centralesupelec_logo	{
	/*float:right;*/
	background-color: #ECF0F1;
	margin: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.menu .icon {
    display: none;
}

.input-file {
    margin-bottom: 10px;
}

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}

.label-file:hover {
    color: #25a5c4;
}

.btn-submit {
    margin-top:10px;
    margin-bottom:10px;
    padding: 16px 32px;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: 0.8
}

#result_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
}

#result_grid h2 {
    font-size: large;
    font-weight: bold;
}

#result_framed {
    grid-column: 1;
    grid-row: 1;
}

#result_framed img {
    width: 300px;
}

#cropped_pic {
    grid-column: 2;
    grid-row: 1;
}

#cropped_pic img {
    width: 200px;
}

#prediction {
    text-align: left;
    grid-column: 3;
    grid-row: 1;
}


#prediction li {
    font-size: x-large;
}

#fail_prediction {
    font-size: large;
}

.profils-grid {
    /*for obscure reasons, this css balise
    doesn't have any impact on the html...*/
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

.profil_pic {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.linkedin {
    width: 100px;
}

.profil-1 {
    grid-column: 1;
}

.profil-2 {
    grid-column: 2;
}

.profil-3 {
    grid-column: 3;
}

.profil {
    margin: auto;
    text-align: center;
}

.img_link {
    transition: .3s ease;
    color: #999999;
}

.img_link:hover {
    -webkit-filter: grayscale(100%);
    filter: opacity(50%);
}

.thanks {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:400px;
}

.fail_logo {
    width: 100px;
    margin: 10px;
}

.container_fail_logo{
    text-align: center;
}

.mosquito-card{
    margin-top: 30px;

}

.slide {
    display: inline-block;
    margin-top: 10px;
    width: 550px;
}

.head {
    margin-top: 50px;
}

#manual-coordinates {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: min-content 100px;
    grid-templates-rows: repeat(3, 100px);
}

#legend-latitude {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

#input-latitude {
    grid-column: 2;
    grid-row: 1;
}

#legend-longitude {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}

#input-longitude {
    grid-column: 2;
    grid-row: 2;
}

#legend-date{
    width: 100px;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
}

#input-date{
    grid-column: 2;
    grid-row: 3;
}