body
{
	margin-left: auto;
	margin-right: auto;
	font-family: "Open Sans", "Calibri", "Arial", sans-serif;
	background-color: #ECF0F1;
	height: 100%;
}

h1
{
	text-align: center;
}

h2
{
	font-size: large;
}

/* Add a black background color to the top navigation */
.menu {
    background-color: #333;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu #centralesupelec_logo	{
	float:right;
	background-color: #ECF0F1;
	margin: 1px;
	padding-left: 5px;
	padding-right: 5px;
	/*border-radius: 5px;*/

}

.menu .icon {
    display: none;
}