<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mosquito Monitor</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
	<div id="header">
		<h1>The mosquito monitoring project</h1>
		<img id="centralesupelec_logo" src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Ecole_Centrale_Supelec_logo.svg" alt="CentraleSupélec logo"/>
		<h2>Monitor mosquito propagation and try to anticipate induced epidemics with the use of machine learning</h2>
		<p>Developped by the <i>the mosquito-boys team</i> from the french engineering school, CentraleSupélec<br/>Victor Aubin, Marc Than Van Con and Paul Asquin</p>
		
	</div>
	<div id="form">
	    <form action="/postform" method="post" enctype="multipart/form-data">
	        Select image to upload:
	        <input type="file" name="fileToUpload" id="fileToUpload">
	        <input type="submit" value="Upload Image" name="submit">
	    </form>
	</div>

</body>
</html>