<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info - Mosquito Monitor</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
    </meta>
</head>
<body>
{% include 'menu.html' %}
<div class="container">
    {% include 'header.html' %}
    <h2>The team</h2>
    <div class="profils-grid" style="display: grid; width:80%; margin: auto;">
        <div class="profil profil-1">
            <h3>Paul Asquin</h3>
            <img class="profil_pic" src="{{ url_for('static', filename='media/paul_asquin.jpg') }}">
            <br/>
            <p>A cool guy</p>
            <a href="https://www.linkedin.com/in/paulasquin">
                <img class="img_link linkedin" src="{{ url_for('static', filename='media/linkedin.svg') }}"/>
            </a>
        </div>
        <div class="profil profil-2">
            <h3>Marc Than Van Con</h3>
            <img class="profil_pic" src="{{ url_for('static', filename='media/marc_than.jpg') }}">
            <br/>
            <p>A cool guy</p>
            <a href="https://www.linkedin.com/in/marc-than-van-con-baa167105/">
                <img class="img_link linkedin" src="{{ url_for('static', filename='media/linkedin.svg') }}"/>
            </a>
        </div>
        <div class="profil profil-3">
            <h3>Victor Aubin</h3>
            <img class="profil_pic" src="{{ url_for('static', filename='media/victor_aubin.jpg') }}">
            <br/>
            <p>A cool guy</p>
            <a href="https://www.linkedin.com/in/victor-aubin-b100b3a8/">
                <img class="img_link linkedin" src="{{ url_for('static', filename='media/linkedin.svg') }}"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>