<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mosquito Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div class="container">


        <div id="header">
            <h1>The mosquito monitoring project</h1>
            <img id="centralesupelec_logo" src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Ecole_Centrale_Supelec_logo.svg" alt="CentraleSupélec logo"/>
            <h2>Monitor mosquito propagation and try to anticipate induced epidemics with the use of machine learning</h2>
            <p>Developped by the <i>the mosquito-boys team</i> from the french engineering school, CentraleSupélec<br/>Victor Aubin, Marc Than Van Con and Paul Asquin</p>
        </div>

        <div id ="result_framed">
            <h2>Image of the mosquito framed </h2>
            <img src="{framed_pic}">
        </div>

        <div>
            <h2>Image of the mosquito </h2>
            <img src="{cropped_pic}">
        </div>

    </div>
</body>
</html>