<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mosquito Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
{% include 'menu.html' %}
    <div class="container">
        {% include 'header.html' %}

        <div id="result_grid">
            <div id="result_framed">
                <h2>Mosquito located</h2>
                <img src="{{framed_pic}}">
            </div>

            <div id="cropped_pic">
                <h2>Squared sub-image</h2>
                <img src="{{cropped_pic}}">
            </div>

            <div id="prediction">
                <h2>Species prediction</h2>
                <div id="prediction-lis">
                    <li>{{ prediction[0][0] + " : " + prediction[0][1]  + "%" }}</li>
                    <li>{{ prediction[1][0] + " : " + prediction[1][1]  + "%" }}</li>
                    <li>{{ prediction[2][0] + " : " + prediction[2][1]  + "%" }}</li>
                </div>
            </div>
        </div>
        <div class="mosquito-card">
            <label>Your mosquito card</label>
            <li>User name: {{ mosquito.user.name }}</li>
            <li>User email: {{ mosquito.user.email }}</li>
            <li>User comment: {{ mosquito.user.comment }}</li>
            <li>Mosquito label: {{ mosquito.label }}</li>
            <li>Mosquito latitude: {{ mosquito.latitude }}</li>
            <li>Mosquito longitude: {{ mosquito.longitude }}</li>
            <li>Mosquito filename: {{ mosquito.filename }}</li>
        </div>
    </div>
</body>
</html>